<div class="generic-container" style='margin-left: 0%; position: absolute; width: 100%;'>
  <div class="card card-default">
    <div class="card-header"><span class="lead">{{ player.name }}</span>
    </div>
    <div class="card-body">
      <div class="row">
        <mat-form-field class="col-md-12">
          <input matInput [(ngModel)]="player.biggestLose" placeholder="Biggest lose" disabled>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12">
          <input matInput [(ngModel)]="player.biggestWin" placeholder="Biggest win" disabled>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12">
          <input matInput [(ngModel)]="player.liveEarnings" placeholder="Live earnings" disabled>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-md-12">
          <input matInput [(ngModel)]="player.gamesPlayed" placeholder="Games played" disabled>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="card card-default">

    <div class="card-header"><span class="lead">Player chart</span></div>
    <div class="card-body">
      <app-chart [title]="title" [gameTypes]="gameTypes" [playerIds]="playerIds"></app-chart>
    </div>
  </div>

</div>
